html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    --theme-color-1: #05f;
    --theme-color-2: #200;
    color: #454545;
  }
  
  body {
    color: var(--main-foreground);
    line-height: 1.5;
    background: linear-gradient(#87CEEB);
    word-wrap: break-word;
    box-sizing: border-box;
    max-width: 980px;
    margin: 2em auto;
    padding: 0px 30px;
  }
  
  h1 {
    position: relative;
    text-align: center;
    font-size: 280%;
    padding: 0.2em 0.5em;
    letter-spacing: 0.1em;
    text-shadow: #fff 2px 0, #fff -2px 0, #fff 0 -2px, #fff 0 2px, #fff 2px 2px,
      #fff -2px 2px, #fff 2px -2px, #fff -2px -2px, #fff 1px 2px, #fff -1px 2px,
      #fff 1px -2px, #fff -1px -2px, #fff 2px 1px, #fff -2px 1px, #fff 2px -1px,
      #fff -2px -1px, rgba(0, 0, 0, 0.5) 3px 3px 3px;
    background: var(--theme-color-2);
    box-shadow: 0px 0px 0px 5px var(--theme-color-2);
    border: dashed 2px white;
  }

  .icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    object-fit: cover;
    background-color: #fff;
    border-radius: 50%;
  }

  .name {
    text-align: center;
    font-size: 200%;
    margin-top: 0.2em;
    font-weight: bold;
  }

  .mine {
    position: sticky;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 128%;
    width: 64%;
    box-sizing: border-box;
    background: #ADD8E6;
  }

  .skill-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1.5rem;
    padding: 2rem 0;
    -webkit-animation: loop-slide 10s infinite linear 1s both;
    animation: loop-slide 10s infinite linear 1s both;
    display: flex;
  }
  @-webkit-keyframes loop-slide {
    from{
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  @keyframes loop-slide {
    from{
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .skill-list:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
  }
  
  .skill {
    background-color: #ADD8E6;
    color: #333;
    margin: 2rem auto;
    padding: 0rem;
    border: 2px solid #ddd;
    border-radius: 10px;
    max-width: 220px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    display: flex;
    flex-direction: column;
    flex : 1;
    }

  .skill:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  }

  .skill p {
    margin: 0.5rem 0;
    line-height: 1.6;
    font-size: 95%;
    color: #555
  }

  .skill h3 {
    text-decoration:underline;
    text-align: center;
  }

  
  h1::after {
    position: absolute;
    content: "";
    left: -7.5px;
    top: -7.5px;
    border-width: 0 0 1em 1em;
    border-style: solid;
    border-color: #fff #fff var(--theme-color-2);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  }